---
:collection:     "<%= cfg_name %>"
:file_roots:     [<%= docroot %>]
:file_types:     [<%= file_types %>]
:file_maxnum:    50
:file_maxkb:     100
:input_fields:
:display_fields: "docstart doclength body"
:docsep:
